@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  user-select: none;
  background: linear-gradient(
    90deg,
    rgba(17, 39, 60, 1) 0%,
    rgba(18, 41, 62, 1) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11273c",endColorstr="#12293e",GradientType=1);
}
